@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

* {
    font-family: 'Lora', serif;
}


.landing {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    top: 0;
    left: 0;
    animation: cambio 60s infinite;
}

.card{
    background-color: rgb(28, 28, 23, 0.5);
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 6rem;
    margin-block-start: 20rem;
    color: #f5f5f3;

}

.btn {
    background-color: transparent;
    color: #f5f5f3;
    border-color: #f5f5f3;
    box-shadow: 3px 3px 2px 1px rgba(245, 245, 243, 0.2);
    width: 20rem;
    height: 5rem;
    font-size: 3rem;
    border-radius: 20px;
    margin: auto;
}
.btn:hover {
    cursor: pointer;
    width: 20.5rem;
    height: 5.5rem;
    font-size: 3.2rem;
    border-radius: 20px;
}


@keyframes cambio {
    0% {
        background: url('https://media.rawg.io/media/games/1c3/1c305096502c475c00276c827f0fd697.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    10% {
        background: url('https://media.rawg.io/media/games/1c3/1c305096502c475c00276c827f0fd697.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    20% {
        background: url('https://media.rawg.io/media/games/6f7/6f7341dd656910be2c2cda39193a7ec9.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    30% {
        background: url('https://media.rawg.io/media/games/6f7/6f7341dd656910be2c2cda39193a7ec9.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    40% {
        background: url('https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    50% {
        background: url('https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    60% {
        background: url('https://media.rawg.io/media/games/618/618c2031a07bbff6b4f611f10b6bcdbc.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    70% {
        background: url('https://media.rawg.io/media/games/618/618c2031a07bbff6b4f611f10b6bcdbc.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    80% {
        background: url('https://media.rawg.io/media/games/709/709bf81f874ce5d25d625b37b014cb63.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    90% {
        background: url('https://media.rawg.io/media/games/709/709bf81f874ce5d25d625b37b014cb63.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    100% {
        background: url('https://media.rawg.io/media/games/fc1/fc1307a2774506b5bd65d7e8424664a7.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}